.content
  %h2 Set: #{data["title"]}
  .sub_content
    %b Extents:
    %ul
      %li X Max: #{data["base_extents"]["xmax"]}
      %li Y Max: #{data["base_extents"]["ymax"]}
      %li X Min: #{data["base_extents"]["xmin"]}
      %li Y Min: #{data["base_extents"]["ymin"]}
  .extras
